<div class="carousel-container">
  <div class="carousel">
    <div class="slides">
      <app-slide
        *ngFor="let slide of slides; let i=index"
        class="slide"
        [slide]="slide"
        [ngClass]="{active: isActive(i), previous: isPrevious(i), forward: isMovingForward(direction), backward: isMovingBackward(direction)}"
      ></app-slide>
    </div>
    <arrow
      (selectSlide)="selectSlide($event)"
      class="arrows"
    ></arrow>
    <app-bullet
      class="bullet"
      [selectedIndex]="slideIndex"
      [slides]="slides"
    ></app-bullet>
  </div>
</div>
