$brand-color-primary: #00a1de;
$brand-color-secondary: #005b82;

$background-color-light: #ffffff;
$background-color-dark: #033144;

$mobile-min-width: 320px;
$tablet-min-width: 768px;
$desktop-min-width: 1024px;
$desktop-lg-min-width: 1200px;

$slide-transition-duration: 150ms;
