@import '~sass/variables';

:host {
  position: absolute;
  top: 58%;
  width: 100%;
  text-align: center;;
}

.bullet {
  display: inline-block;

  span {
    display: block;
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    border-radius: 10px;
    background: #ffffff;
    border: 1px solid #c4c4c4;
  }

  &.active {
    span {
      background-image: linear-gradient($background-color-bullet-inner, $background-color-bullet-outter);
    }
  }
}

@media (min-width: $tablet-min-width) {
  :host {
    top: auto;
    bottom: 0;
    width: 50%;
  }
}
